# Pathfinder configuration file

# Optional settings: These all have defaults and none need be explicitly specified.
settings:
  ### Display settings ###
  # Valid: True, False

  # Show a label for each cue (matches the name given below) (Default: False)
  show-labels: False

  # Show the true (scaled - see below) geometric vectors used for cue computation. (Default: False)
  show-geometry: False

  # Show the directional prompt for each individual cue as well as the combined. (Default: False)
  show-individual: False

  # Minimum "confidence" required to provide successful menotaxis. (Default: 0)
  # Valid: x, where 0 <= x <= 1.
  confidence-threshold: 0

  ### Beetle settings ###
  # Set combination strategy (Default: "avg")
  # Valid: avg, wta
  combination-strategy: "wta"

  # Specify the scaling applied to each cue. The number given is applied as a direct multiplier to the cue strength
  # for each cue of the appropriate type. For example, if we want to see what would happen if the beetle is twice as
  # sensitive to wind as it is to light we could use:
  #  cue-strength-scaling:
  #    light: 1
  #    wind: 2
  # (Default: 1)
  # Valid: Any positive real number. Negatives will be replaced by Default value.
  # This may be used as an amplification factor, a weighting factor, or a way to specify cue hierarchy. The
  # interpretation and usage is up to the user.
  cue-strength-scaling:
    light: 1
    wind: 1

# Mandatory configuration: cues for each roll must be specified.
# Supported:
#   light: requires a strength, elevation, and azimuth
#   wind: requires a strength and a direction

### Roll one ###
cues-roll-one:
  light-0:
    strength: 1
    elevation: 45
    azimuth: -45

  wind-0:
    strength: 1
    direction: 90

### Second roll setup ###
cues-roll-two:
  bright-light:
    strength: 1
    elevation: 45
    azimuth: 225

  wind-0:
    strength: 1
    direction: 45
